@media screen and (min-width:700px) {
    .nav_icon {
        display: none;
    }

    .nav_mobile {
        display: none;
    }

    .location {
        justify-content: left;
        margin-left: 10px;
    }
}

@media screen and (max-width:699px) {
    .nav_desktop {
        display: none;
    }
}